<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
        <h1> Music App </h1>
    </header> 


    <% if logged_in? %>
        <form action="<%= session_url %>" method='post'>
            <input type="hidden" name="_method" value='delete'>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value='Logout'>
        </form>
    <% else %>
      <a href="<%= new_user_url%>">Sign Up</a>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <%= error %>
        <% end %>
      <% end %>


      <%= yield %>
  </body>
</html>
